.main-wrap {
    min-width: 1280px;

    .col1 {
        position: relative;
        text-align: center;
        .swiper-container {
            max-width: 1920px;
            margin: 0 auto;
        }
        .swiper-button {
            > span {
                opacity: 0;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                background-repeat: no-repeat;
                background-size: 30%;
                outline: none;
                transition: all 0.4s;
                &:hover {
                    opacity: 1 !important;
                }
            }
            .swiper-button-prev {
                @include Background($sprite:'arrow_left', $type:'gif', $position:45% center, $path:'bg');
                background-size: 20%;
            }
            .swiper-button-next {
                @include Background($sprite:'arrow_right', $type:'gif', $position:55% center, $path:'bg');
                background-size: 20%;
            }
            &.active .swiper-button-prev,
            &.active .swiper-button-next {
                opacity: 0.5;
            }
        }
        .swiper-pagination-wrap{
            @include Position($bottom: 25px, $left: 0);
        }
    }

    .col2 {
        position: relative;
        z-index: 1;
        .section-col2 {
            @include Align-between-top;
            > div {
                flex: none;

                &:first-child {
                    width: 858px;
                    ul {
                        @include Align-between-top;
                    }
                }
                &:last-child {
                    ul {
                        li + li {
                            margin-top: 9px;
                        }
                    }
                }
            }
        }
    }

    .col3 {
        .section-col3 {
            min-width: 1280px;
            overflow: hidden;
        }
        .swiper-container{
            min-width: 1900px;
        }
        .swiper-slide {
            .cover {
                position: relative;
                width:244px;
                margin: 0 auto;
                .hover {
                    display: none;
                    @include Position($top:0, $left:0);
                }
            }
            a:hover {
                .hover {
                    display: block;
                }
            }
        }
        
    }

    .col03 {
        .section-col03 {
            ul {
                @include Align-box;
                li {
                    position: relative;
                    width: 320px;
                    overflow: hidden;
                    .hover {
                        display: none;
                        @include Position($top:0, $left:0);
                    }
                    a:hover {
                        .hover {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .col4 {
        .section-col4 {
            max-width: 1980px;
            margin: 0 auto;
        }
    }

    .col5 {
        margin-bottom: 110px;
        ul {
            @include Align-box;
            li {
                transition:transform 0.3s;
                width: 279px;
                margin: 70px 20.5px 0;
                > a {
                    display: block;
                }
                .cover {
                    position: relative;
                    margin: 0 auto;
                    .hover {
                        display: none;
                        @include Position($top:0, $left:0);
                    }
                }
                a:hover {
                    .hover {
                        display: block;
                    }
                }
            }
        }
    }

    .col6 {
        margin-bottom: 140px;
        .section-col6 {
            @include Align-between-top;
            > div {
                flex: none;
                ul {
                    @include Align-top-column;
                    li + li {margin-top:10px;}
                }
            }
        }
    }

    
}








