@charset "UTF-8";
/*인라인 가로스크롤*/
/*폰트만 삭제시킴*/
/*투명도 믹스인*/
/*포지션 믹스인*/
/*백그라운드 믹스인*/
/* 말줄임표 */
/*에디터스타일*/
/*미디어쿼리 믹스인*/
.main-wrap {
	min-width: 1080px;
}

.main-wrap .main-section > div:nth-child(odd) {
	background-color: #fff;
}

.main-wrap .main-section > div:nth-child(odd) .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .cover,
.main-wrap .main-section > div:nth-child(odd) .maincard08 .section-cont .swiper-wrapper .swiper-slide a .cover,
.main-wrap .main-section > div:nth-child(odd) .maincard10 .section-cont .unit-list .unit-review .img {
	background-color: #EFF2F7;
}

.main-wrap .main-section > div:nth-child(even) {
	background-color: #EFF2F7;
}

.main-wrap .main-section > div:nth-child(even) .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .cover,
.main-wrap .main-section > div:nth-child(even) .maincard08 .section-cont .swiper-wrapper .swiper-slide a .cover,
.main-wrap .main-section > div:nth-child(even) .maincard10 .section-cont .unit-list .unit-review .img {
	background-color: #fff;
}

.main-wrap .main-section .section-card {
	padding: 50px 0;
	/*각타입 별 css*/
}

.main-wrap .main-section .section-card.bannerOnly {
	padding: 30px 0;
}

.main-wrap .main-section .section-card h2 {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	font-size: 40px;
}

.main-wrap .main-section .section-card .section-tit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 30px;
}

.main-wrap .main-section .section-card .section-tit > a {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	   -moz-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.main-wrap .main-section .section-card .section-tit > a b {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.main-wrap .main-section .section-card .section-tit .tit-cont span {
	display: block;
	color: #999;
	font-size: 16px;
	margin-top: 8px;
}

.main-wrap .main-section .section-card .section-tit .tit-cont b {
	margin-top: 20px;
}

.main-wrap .main-section .section-card .section-tit ~ .section-banner {
	margin-top: 30px;
}

.main-wrap .main-section .section-card .section-cont ~ .section-banner {
	margin-top: 30px;
}

.main-wrap .main-section .section-card .section-img-tit {
	padding-bottom: 30px;
}

.main-wrap .main-section .section-card .section-banner a {
	display: block;
}

.main-wrap .main-section .section-card .swiper-button-next {
	right: -5%;
}

.main-wrap .main-section .section-card .swiper-button-prev {
	left: -5%;
}

.main-wrap .main-section .section-card.maincard01 {
	position: relative;
	padding: 50px 0 20px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide {
	position: relative;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event {
	display: inline-block;
	width: 1080px;
	margin: 0 50px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img {
	position: relative;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .cover {
	overflow: hidden;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .flag-bottom-wrap {
	left: 60px;
	bottom: -15px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img img {
	width: 100%;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .text {
	position: absolute;
	top: 60px;
	left: 60px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .text strong {
	display: block;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	line-height: 1.3;
	font-size: 32px;
	margin-top: 20px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .text span {
	display: block;
	margin-top: 10px;
	font-size: 18px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .text-position-b {
	position: absolute;
	bottom: 60px;
	left: 60px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .text-position-b strong {
	display: block;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	line-height: 1.3;
	font-size: 32px;
	margin-top: 20px;
	color: #fff;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list li.event a .img .text-position-b span {
	display: block;
	margin-top: 10px;
	font-size: 18px;
	color: #fff;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list .slick-dots {
	background-color: rgba(0, 0, 0, 0);
	margin-top: 20px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list .slick-dots li {
	margin: 0 6.5px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list .slick-dots button:before {
	width: 7px;
	height: 7px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list .slick-dots .slick-active button:before {
	width: 7px;
	height: 7px;
	border: 3.5px solid #2B2B2B;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .main-visual-list .slick-dots .slick-active button:after {
	height: 3.5px;
	width: 25px;
	margin-left: -3px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .slider-btn {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -17px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .slider-btn > div {
	position: relative;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .slider-btn > div .slick-arrow {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	border-top: 3px solid black;
	border-left: 3px solid black;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .slider-btn > div .slick-arrow.slick-prev {
	left: -50px;
}

.main-wrap .main-section .section-card.maincard01 .view-slide .slider-btn > div .slick-arrow.slick-next {
	right: -50px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-tit {
	width: 28%;
	padding-right: 2%;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-tit h2 {
	text-align: left;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-tit span {
	font-size: 16px;
	display: block;
	padding-top: 10px;
	color: #999;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-tit > a {
	display: block;
	margin-top: 45px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-tit b {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	display: block;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item {
	height: 522px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div {
	height: 100%;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div.unit-main {
	width: 340px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div.unit-main .unit {
	height: 100%;
	margin-left: 0;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div.unit-main .unit .text strong {
	font-size: 32px;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div.unit-main .unit .cover {
	position: absolute;
	bottom: 5%;
	left: -30%;
	width: 480px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div.unit-main .unit .cover img {
	width: 480px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit {
	position: relative;
	width: 340px;
	margin-left: 30px;
	height: 47%;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	background-color: #fff;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .text {
	padding: 35px 40px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .text strong {
	font-size: 18px;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	line-height: 1.5;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .text span {
	font-size: 18px;
	line-height: 1.5;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .text b {
	color: #F04040;
	line-height: 1.5;
	font-size: 18px;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .flag.num {
	-webkit-border-radius: 12px 0 12px 0;
	   -moz-border-radius: 12px 0 12px 0;
	        border-radius: 12px 0 12px 0;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .cover {
	position: absolute;
	right: 0;
	bottom: 5%;
	width: 249px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit .cover img {
	width: 249px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item > div .unit + .unit {
	margin-top: 30px;
}

.main-wrap .main-section .section-card.maincard03 .best-cont .best-item .text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
}

.main-wrap .main-section .section-card.maincard04 {
	position: relative;
	overflow: hidden;
	/*
                &:before {
                    display: block;
                    content: '';
                    width: 39%;
                    height: 1px;
                    background-color: #EBEBEB;
                    @include Position($top: 130px, $left: 0);
                }
                &:after {
                    display: block;
                    content: '';
                    width: 39%;
                    height: 1px;
                    background-color: #EBEBEB;
                    @include Position($top: 130px, $right: 0);
                }*/
}

.main-wrap .main-section .section-card.maincard04 .section-nav-list {
	background-color: #fff;
	height: 120px;
	border: 1px solid #EBEBEB;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card.maincard04 .section-nav-list > a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	margin: 0 5px;
}

.main-wrap .main-section .section-card.maincard04 .section-nav-list > a > b {
	line-height: 1;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card.maincard04 .section-nav-list > a > span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	line-height: 1;
}

.main-wrap .main-section .section-card.maincard04 .section-nav-list > a.active {
	background-color: #F5F9FF;
}

.main-wrap .main-section .section-card.maincard04 .section-nav-list > a.active > span {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.main-wrap .main-section .section-card.maincard04 .section-cont {
	width: 100%;
	padding: 40px 0 80px;
	text-align: center;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container {
	min-width: 1080px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container.swiper-container-horizontal {
	min-width: 1900px;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-wrapper {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container.swiper-container-horizontal .swiper-wrapper {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	   -moz-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide {
	text-align: center;
	width: 260px;
	margin-right: 10px;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .cover {
	position: relative;
	width: 260px;
	height: 140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .cover img {
	width: 260px;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .cover button {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .cover button .icon.complete_red {
	background-position: right bottom;
	-webkit-background-size: 60% 60%;
	   -moz-background-size: 60%;
	        background-size: 60%;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .text {
	padding-top: 10px;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .text strong {
	font-size: 18px;
	line-height: 1.5;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .none {
	padding: 25.5px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-slide .none span {
	display: block;
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.4;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-button-next {
	right: 0;
	top: 50%;
}

.main-wrap .main-section .section-card.maincard04 .section-cont .swiper-container .swiper-button-prev {
	left: 0;
	top: 50%;
}

.main-wrap .main-section .section-card.maincard04 .section-btn {
	width: 400px;
	margin: 0 auto;
}

.main-wrap .main-section .section-card.maincard04 .section-btn button {
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	        border-radius: 50px;
}

.main-wrap .main-section .section-card.maincard04 .section-btn button .goEstimate {
	margin-left: 10px;
	margin-bottom: 2px;
}

.main-wrap .main-section .section-card.maincard08 {
	position: relative;
}

.main-wrap .main-section .section-card.maincard08:before {
	content: '';
	width: 100%;
	height: 460px;
	position: absolute;
	top: 0;
	left: 0;
}

.main-wrap .main-section .section-card.maincard08 .section-video {
	padding-bottom: 50px;
}

.main-wrap .main-section .section-card.maincard08 .section-video .unit-img {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	overflow: hidden;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}

.main-wrap .main-section .section-card.maincard08 .section-video .unit-img .video-play {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/icons/btn_play.png");
	background-position: center center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	width: 107px;
	height: 113px;
	margin-left: -55px;
	margin-top: -57px;
}

.main-wrap .main-section .section-card.maincard08 .section-video .unit-img .text {
	position: absolute;
	bottom: 55px;
	left: 55px;
}

.main-wrap .main-section .section-card.maincard08 .section-video .unit-img .text img {
	width: 81px;
	height: 81px;
}

.main-wrap .main-section .section-card.maincard08 .section-video .unit-img .text span {
	font-size: 32px;
	color: #fff;
	vertical-align: middle;
	margin-left: 30px;
	width: 700px;
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	display: inline-block;
}

.main-wrap .main-section .section-card.maincard08 .section-cont {
	position: relative;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide {
	width: 520px;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .cover {
	background-color: #EEF1F6;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-align: center;
	width: 230px;
	height: 157px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	   -moz-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .cover img {
	width: 192px;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-left: 25px;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .text strong {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.5;
	width: 265px;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .text strong .flag {
	vertical-align: text-bottom;
	margin: 0 5px;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .text span {
	font-size: 18px;
	line-height: 1.5;
	padding: 5px 0 20px;
	width: 265px;
}

.main-wrap .main-section .section-card.maincard08 .section-cont .swiper-wrapper .swiper-slide a .text b {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	color: #F04040;
	line-height: 1.5;
	font-size: 18px;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .img {
	width: 247px;
	height: 130px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .img img {
	width: 247px;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .text > span {
	padding: 0;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .text > strong {
	width: 100%;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	max-height: 42px;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .descri {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 10px;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .descri span {
	margin-left: 0;
}

.main-wrap .main-section .section-card.maincard10 .section-cont .unit-list .unit-review .descri .stars {
	margin-top: 0;
	margin-left: auto;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont {
	position: relative;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide {
	width: 525px;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #fff;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	padding: 40px 30px;
	height: 240px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .flag-wrap {
	position: absolute;
	top: 30px;
	right: 30px;
	left: auto;
	z-index: 2;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .flag-inline-wrap {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont strong {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	font-size: 26px;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	line-height: 1.3;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont strong .flag {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	   -moz-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	margin-top: 2px;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont strong .hot {
	margin-left: 5px;
	margin-top: -5px;
	vertical-align: middle;
	background-color: #C489FF;
	color: #fff;
	border: 0;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont b {
	padding-top: 5px;
	line-height: 1.4;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont .text {
	margin-top: 20px;
	font-size: 13px;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont .text span {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	font-size: 18px;
	display: block;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cont .text span + span {
	color: #F04040;
	display: inline-block;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cover {
	position: absolute;
	right: -80px;
	bottom: 30px;
	width: 340px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main-wrap .main-section .section-card .mainTypeC.section-cont .swiper-wrapper .swiper-slide .list-wrap .cover img {
	width: 340px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide {
	width: 340px;
	margin-right: 30px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a {
	display: block;
	position: relative;
	background-color: #fff;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
	        border-radius: 25px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .img .flag-wrap {
	top: 20px;
	left: 20px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .img .cover {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	z-index: 1;
	height: 200px;
	width: 270px;
	margin: 0 auto;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .img .cover img {
	width: 270px;
	position: relative;
	left: 0;
	top: 30px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .img:after {
	display: block;
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	width: 340px;
	height: 160px;
	background-color: #D9E6EA;
	-webkit-border-radius: 25px 25px 0 0;
	   -moz-border-radius: 25px 25px 0 0;
	        border-radius: 25px 25px 0 0;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .text {
	text-align: left;
	padding: 30px 40px 53px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	height: 140px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .text strong {
	display: block;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	line-height: 1.3;
	font-size: 22px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .text strong .flag {
	vertical-align: text-bottom;
	margin: 0 5px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .text span {
	display: block;
	margin-top: 10px;
	line-height: 1.4;
	font-size: 18px;
}

.main-wrap .main-section .section-card .mainTypeA.section-cont .swiper-wrapper .swiper-slide a .text .price {
	width: 100%;
	color: #F04040;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	font-size: 22px;
	padding-top: 5px;
	margin-top: auto;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont {
	position: relative;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide {
	width: 520px;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .cover {
	background-color: #EEF1F6;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 230px;
	height: 157px;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	   -moz-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .cover img {
	width: 192px;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-left: 25px;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .text strong {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.3;
	width: 265px;
	display: block;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .text strong .flag {
	vertical-align: text-bottom;
	margin: 0 5px;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .text span {
	font-size: 18px;
	padding: 5px 0 20px;
	line-height: 1.4;
	width: 265px;
}

.main-wrap .main-section .section-card .mainTypeB.section-cont .swiper-wrapper .swiper-slide a .text b {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	color: #F04040;
	font-size: 18px;
}

.main-wrap .main-section .section-card .maincardD.section-cont {
	position: relative;
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper .swiper-slide .cover {
	/*
                            &:after {
                                display:block;
                                content: '';
                                @include Position($top: 0, $right: 10%);
                                width: 1px;
                                height: 120px;
                                background-color: #fff;
                                animation: height 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
                            }*/
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper .swiper-slide .Dday-time {
	position: absolute;
	right: 45px;
	bottom: 55px;
	/*
                            > strong {
                                @include Position($bottom: 100px, $right: 11.5%);
                                @include Bold;
                                width:90px;
                                transform: scale(0.0) rotate(270deg);
                                color: #fff;
                                letter-spacing: 3px;
                                font-size: 20px;
                                animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
                            }
                            .date {
                                @include Position($bottom: 60px, $right: 6%);
                                span{
                                    font-family: "SpoqaB", serif !important;
                                    @include Align-between;
                                    line-height: .9;
                                    display: block;
                                    font-size:70px;
                                    color:#fff;
                                    @include Bold;
                                    opacity: 0;
                                    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
                                }
                            }
                            */
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper .swiper-slide .Dday-time > strong {
	display: block;
	text-align: right;
	color: #fff;
	letter-spacing: 3px;
	font-size: 20px;
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper .swiper-slide .Dday-time .date {
	margin-top: 10px;
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper .swiper-slide .Dday-time .date > span {
	line-height: .9;
	font-size: 70px;
	color: #fff;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
	font-family: "SpoqaB", serif !important;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
}

.main-wrap .main-section .section-card .maincardD.section-cont .swiper-wrapper .swiper-slide .Dday-time .date > em {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/bgs/bg-time.png");
	background-position: center center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	height: 70px;
	line-height: .9;
	width: 25px;
	font-size: 70px;
	color: #fff;
	font: 0/0 a;
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.inner {
	width: 1080px;
	margin: 0 auto;
	position: relative;
}

/*# sourceMappingURL=../maps/contents.css.map */
