@charset "UTF-8";
/*인라인 가로스크롤*/
/*폰트만 삭제시킴*/
/*투명도 믹스인*/
/*포지션 믹스인*/
/*백그라운드 믹스인*/
/* 말줄임표 */
/*에디터스타일*/
/*미디어쿼리 믹스인*/
.main-wrap {
	min-width: 1280px;
}

.main-wrap .col1 {
	position: relative;
	text-align: center;
}

.main-wrap .col1 .swiper-container {
	max-width: 1920px;
	margin: 0 auto;
}

.main-wrap .col1 .swiper-button > span {
	opacity: 0;
	display: block;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background-color: #fff;
	background-repeat: no-repeat;
	-webkit-background-size: 30% 30%;
	   -moz-background-size: 30%;
	        background-size: 30%;
	outline: none;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.main-wrap .col1 .swiper-button > span:hover {
	opacity: 1 !important;
}

.main-wrap .col1 .swiper-button .swiper-button-prev {
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/bg/arrow_left.gif");
	background-position: 45% center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	-webkit-background-size: 20% 20%;
	   -moz-background-size: 20%;
	        background-size: 20%;
}

.main-wrap .col1 .swiper-button .swiper-button-next {
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/bg/arrow_right.gif");
	background-position: 55% center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	-webkit-background-size: 20% 20%;
	   -moz-background-size: 20%;
	        background-size: 20%;
}

.main-wrap .col1 .swiper-button.active .swiper-button-prev,
.main-wrap .col1 .swiper-button.active .swiper-button-next {
	opacity: 0.5;
}

.main-wrap .col1 .swiper-pagination-wrap {
	position: absolute;
	bottom: 25px;
	left: 0;
}

.main-wrap .col2 {
	position: relative;
	z-index: 1;
}

.main-wrap .col2 .section-col2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .col2 .section-col2 > div {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	   -moz-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.main-wrap .col2 .section-col2 > div:first-child {
	width: 858px;
}

.main-wrap .col2 .section-col2 > div:first-child ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .col2 .section-col2 > div:last-child ul li + li {
	margin-top: 9px;
}

.main-wrap .col3 .section-col3 {
	min-width: 1280px;
	overflow: hidden;
}

.main-wrap .col3 .swiper-container {
	min-width: 1900px;
}

.main-wrap .col3 .swiper-slide .cover {
	position: relative;
	width: 244px;
	margin: 0 auto;
}

.main-wrap .col3 .swiper-slide .cover .hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.main-wrap .col3 .swiper-slide a:hover .hover {
	display: block;
}

.main-wrap .col5 {
	margin-bottom: 110px;
}

.main-wrap .col5 ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.main-wrap .col5 ul li {
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-moz-transition: transform 0.3s, -moz-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
	width: 279px;
	margin: 70px 20.5px 0;
}

.main-wrap .col5 ul li > a {
	display: block;
}

.main-wrap .col5 ul li .cover {
	position: relative;
	margin: 0 auto;
}

.main-wrap .col5 ul li .cover .hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.main-wrap .col5 ul li a:hover .hover {
	display: block;
}

.main-wrap .col6 {
	margin-bottom: 140px;
}

.main-wrap .col6 .section-col6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-wrap .col6 .section-col6 > div {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	   -moz-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.main-wrap .col6 .section-col6 > div ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	   -moz-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
}

.main-wrap .col6 .section-col6 > div ul li + li {
	margin-top: 10px;
}

.inner {
	width: 1280px;
	margin: 0 auto;
	position: relative;
}

/*# sourceMappingURL=../maps/contents.css.map */
