@charset "UTF-8";
/*인라인 가로스크롤*/
/*폰트만 삭제시킴*/
/*투명도 믹스인*/
/*포지션 믹스인*/
/*백그라운드 믹스인*/
/* 말줄임표 */
/*에디터스타일*/
/*미디어쿼리 믹스인*/
/* (hover Effect) */
[data-effect] li img {
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-moz-transition: transform 0.3s, -moz-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
}

[data-effect] li.none:hover img {
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	     -o-transform: none;
	        transform: none;
}

[data-effect="scale"] li a {
	display: block;
	overflow: hidden;
}

[data-effect="scale"] li:hover img {
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}

/* 이미지 확대 */
[data-effect="opacity"] li:hover img {
	opacity: 0.8;
}

/* 이미지 불투명 */
[data-effect="rotate_01"] li:hover img {
	-webkit-transform: rotate(1.5deg);
	   -moz-transform: rotate(1.5deg);
	    -ms-transform: rotate(1.5deg);
	     -o-transform: rotate(1.5deg);
	        transform: rotate(1.5deg);
}

/* 우측 회전 */
[data-effect="rotate_02"] li:hover img {
	-webkit-transform: rotate(-1.5deg);
	   -moz-transform: rotate(-1.5deg);
	    -ms-transform: rotate(-1.5deg);
	     -o-transform: rotate(-1.5deg);
	        transform: rotate(-1.5deg);
}

/* 좌측 회전 */
[data-effect="translateX_01"] li:hover img {
	-webkit-transform: translateX(-5px);
	   -moz-transform: translateX(-5px);
	    -ms-transform: translateX(-5px);
	     -o-transform: translateX(-5px);
	        transform: translateX(-5px);
}

/* 좌측 이동 */
[data-effect="translateX_02"] li:hover img {
	-webkit-transform: translateX(5px);
	   -moz-transform: translateX(5px);
	    -ms-transform: translateX(5px);
	     -o-transform: translateX(5px);
	        transform: translateX(5px);
}

/* 우측 이동 */
[data-effect="translateY_01"] li:hover {
	-webkit-transform: translateY(-10px);
	   -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	     -o-transform: translateY(-10px);
	        transform: translateY(-10px);
}

/* 위쪽 이동 */
[data-effect="translateY_02"] li:hover img {
	-webkit-transform: translateY(5px);
	   -moz-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	     -o-transform: translateY(5px);
	        transform: translateY(5px);
}

/* 아래쪽 이동 */
.header-bn {
	background-color: #dbf9f1;
}

.header-cont {
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/bg/header-top-bg.jpg");
	background-position: center bottom;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	background-repeat: repeat-x;
}

.footer-top {
	border-top: 1px solid #eaeaea;
}

.footer-cont {
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/bg/footer-top-bg.jpg");
	background-position: center top;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	background-repeat: repeat-x;
}

.rightQuickMenuWrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 220px;
	border-left: 1px solid #dbdbdb;
	background: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	-moz-transition: transform 0.5s, -moz-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
	-webkit-transform: translateX(221px);
	   -moz-transform: translateX(221px);
	    -ms-transform: translateX(221px);
	     -o-transform: translateX(221px);
	        transform: translateX(221px);
	z-index: 201;
}

.rightQuickMenuWrap .btn-wrap {
	position: absolute;
	top: 50%;
	left: -48px;
	margin-top: -100px;
}

.rightQuickMenuWrap .btn-wrap > div {
	position: relative;
}

.rightQuickMenuWrap .btn-wrap > div button {
	position: absolute;
	top: 0;
	right: 0;
	font: 0/0 a;
	width: 49px;
	height: 49px;
}

.rightQuickMenuWrap .btn-wrap .off {
	display: block;
}

.rightQuickMenuWrap .btn-wrap .on {
	display: none;
}

.rightQuickMenuWrap .right-wrap {
	text-align: center;
}

.rightQuickMenuWrap.active {
	-webkit-transform: translateX(0px);
	   -moz-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	     -o-transform: translateX(0px);
	        transform: translateX(0px);
}

.rightQuickMenuWrap.active .off {
	display: none;
}

.rightQuickMenuWrap.active .on {
	display: block;
}

/*# sourceMappingURL=../maps/layout.css.map */
